@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  box-sizing: border-box;
  margin: 0 auto;
}
.App {
  /* background-color: #e5e7eb; */
  
}
.navigation {
  display: block;
  padding: 2rem;
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: large;
  background-color: #282f35;
  color: white;
  border-bottom-left-radius: 1rem;
}

.meaning {
  background-color: #fde68a;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.menu-card {
  display: block;
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
  background-color: #34d399;
  max-width: 700px;
}
footer {
  font-family: "Roboto Slab", serif;
  color: white;
  width: 100%;
  background-color: #282f35;
  text-align: center;
  padding: 1.5rem;
  border-top-right-radius: 1rem;
  margin-top: 3rem;
}
#footer-heading {
  font-size: x-large;
}
